<h2>Contact</h2>

<!DOCTYPE html>
<!--[if IE 7]>	<html class="ie ie7" lang="en-US" prefix="og: http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">	<![endif]-->
<!--[if IE 8]>	<html class="ie ie8" lang="en-US" prefix="og: http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">	<![endif]-->
<!--[if IE 9]>	<html class="ie ie9" lang="en-US" prefix="og: http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">	<![endif]-->
<!--[if (gt IE 9)|!(IE)]>
<html lang="en-US" prefix="og: http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">
<![endif]-->
<head>

	<meta charset="UTF-8" />
	<title>Contact Us - Jimmy&#039;s Urban Bar and Grill </title>

	<!-- Pingback URL -->
	<link rel="pingback" href="http://lodojimmys.com/xmlrpc.php" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


<!-- This site is optimized with the Yoast WordPress SEO plugin v1.5.5 - https://yoast.com/wordpress/plugins/seo/ -->
<link rel="canonical" href="http://lodojimmys.com/contact-us/" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Contact Us - Jimmy&#039;s Urban Bar and Grill" />
<meta property="og:url" content="http://lodojimmys.com/contact-us/" />
<!-- / Yoast WordPress SEO plugin. -->

<link rel="alternate" type="application/rss+xml" title=" &raquo; Feed" href="http://lodojimmys.com/feed/" />
<link rel="alternate" type="application/rss+xml" title=" &raquo; Comments Feed" href="http://lodojimmys.com/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title=" &raquo; Contact Us Comments Feed" href="http://lodojimmys.com/contact-us/feed/" />
<link rel='stylesheet' id='nice-style-css'  href='http://lodojimmys.com/wp-content/themes/Jimmy/style.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='nice-fancybox-css'  href='http://lodojimmys.com/wp-content/themes/Jimmy/includes/css/jquery.fancybox.css?ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='nice-options-styles-css'  href='http://lodojimmys.com/wp-content/themes/Jimmy/includes/css/nice-options.css?ver=3.9.2' type='text/css' media='all' />
<style type='text/css'>
#wrapper, .infobox .entry-title{ border-top-color: #C3572D; }
.entry blockquote{ border-left-color:#C3572D; }
.flex-caption p a { border-bottom-color:#C3572D; }
a, span.required, #footer .testimonials .feedback .feedback-url, .menu-box li .title a:hover, .wp-pagenavi span.current, #extended-footer a:hover, .nice-contact-form #node { color: #C3572D; }
#navigation .nav li:hover a, #navigation .nav li.current_page_item a,  #navigation .nav > li.current-menu-item a, #navigation .nav > li.sfHover, #top #navigation .nav li.current-menu-parent > a { color: #C3572D !important; }
.infobox .entry-excerpt a.read-more, .nav li ul, .menu-box .featured-image a, .nice-contact-form input[type="submit"]:hover,
#commentform .button:hover, #respond input[type="submit"]:hover , #tabs .inside .tags a:hover, ul.four-col-grid .thumb a, .infobox .thumb a, .single .featured-image a, .post .featured-image a{ background-color: #C3572D; }
#wrapper, #header { margin: 0 auto; max-width: 1020px; }
body, .bg-image { background-image : url(http://lodojimmys.com/wp-content/uploads/2014/08/background1.png); }
body, .bg-image { background-color : #eeeeee; }
body, .bg-image { background-position : left top; }
body, .bg-image { background-repeat : repeat; }
#header #top #logo #default-logo, #header #top #logo #retina-logo { height : 100px; }

</style>
<meta name="generator" content="Jimmy 1.2.0" />
<meta name="generator" content="Nice Framework 1.1.5" />
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/jquery.js?ver=1.11.0'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var php_data = {"menu_text":"Go To..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/general.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/jquery.fancybox.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/imagesloaded.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/slides.min.jquery.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/feedback.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://ajax.microsoft.com/ajax/jquery.validate/1.9/jquery.validate.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/ui/jquery.ui.core.min.js?ver=1.10.4'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/jquery.scrollTo-min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-content/themes/Jimmy/includes/js/jquery.localscroll-min.js?ver=3.9.2'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://lodojimmys.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://lodojimmys.com/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 3.9.2" />
<link rel='shortlink' href='http://lodojimmys.com/?p=14' />

<!-- Custom Favicon -->
<link rel="shortcut icon" href="http://lodojimmys.com/wp-content/uploads/2014/08/favicon.ico"/>

<!-- Custom CSS -->
<style type="text/css">
.feedback-list{ min-height: 115px; }
#footer .textwidget{ text-align: center;}
#footer .social-links{ text-align: center;}
.feedback-author {padding-right: 25px;}</style>


<!-- Custom CSS -->
<link href="http://lodojimmys.com/wp-content/themes/Jimmy/custom.css" rel="stylesheet" type="text/css" />
<meta property="og:type" content="article" />
<meta property="og:title" content="Contact Us" />
<meta property="og:url" content="http://lodojimmys.com/contact-us/" />
<meta property="og:description" content="" />
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<script type="text/javascript">
		//<![CDATA[
		jQuery(document).ready(function($) {

			jQuery('#nice_contact').validate({

				messages: {
						"name":{"required":"Please enter your name."},
						"mail":{"required":"Please enter your email address."},
						"message":{"required":"Please enter a message."}
				},

				submitHandler: function(form) {

					var str = jQuery('#nice_contact').serialize();

					jQuery.ajax({
						type: "POST",
						url: "http://lodojimmys.com/wp-admin/admin-ajax.php",
						data: 'action=nice_contact_form&nonce=539360a6e8&' + str,
						success: function(msg) {
							jQuery("#node").ajaxComplete(function(event, request, settings){
									if( msg == 'sent' ) {
										jQuery(".nice-contact-form #node").hide();
										jQuery(".nice-contact-form #success").fadeIn("slow");
										jQuery("#nice_contact input[type=text], #nice_contact textarea").val("");
									}else {
										result = msg;
										jQuery(".nice-contact-form #node").html(result);
										jQuery(".nice-contact-form #node").fadeIn("slow");
									}
							});
						}
					});
					return false;
					form.submit();
				}
			});
		});
		//]]>
		</script>
			<link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Gudea:400,700,400italic' rel='stylesheet' type='text/css'>

</head>

<body class="page page-id-14 page-template page-template-template-contact-php sidebar-right chrome">

<!-- BEGIN #wrapper -->
<div id="wrapper">

	<!-- BEGIN #header -->
	<header id="header" class="clearfix">

		<!-- BEGIN #top -->
		<div id="top" class="col-full">

			<!-- BEGIN #logo -->
			<div id="logo" class="fl">
				<h1><a href="http://lodojimmys.com" title=""><img id="default-logo" src="http://lodojimmys.com/wp-content/uploads/2014/08/logo.png" alt="" /><img id="retina-logo" src="http://lodojimmys.com/wp-content/uploads/2014/08/logo.png" alt="" /></a></h1>			<!-- END #logo -->
			</div>

			<!-- BEGIN #navigation -->
			<nav id="navigation">


			<div class="menu-main-navigation-container"><ul id="main-nav" class="nav fl sf-js-enabled clearfix"><li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://lodojimmys.com/">Home</a></li>
<li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://lodojimmys.com/about-us/">About Us</a></li>
<li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://lodojimmys.com/menu/">Menu</a></li>
<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://lodojimmys.com/location/">Location</a></li>
<li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-25"><a href="http://lodojimmys.com/contact-us/">Contact Us</a></li>
</ul></div>
			<!-- END #navigation -->
			</nav>

		<!-- END #top -->
		</div>

	<!-- END #header -->
	</header>

<!-- BEGIN #container -->
<div id="container" class="clearfix">

<nav class="responsive-nav"></nav>



<!-- BEGIN #content -->
<section id="content" class="full-width contact-us">




							<aside class="nice-contact-sidebar">
					<div class="box">

						<header>
							<h3>Address</h3>
						</header>

						1530 Blake St Unit B<br />
Denver, CO 80202 <br />


							<p>Phone: (303) 298-5000</p>


					</div>


				</aside>


			<div class="nice-contact-form">

				<header>
					<h3>Contact Us</h3>
				</header>


					<div class="entry">
											</div>

					<div id="node"></div>
					<div id="success">Thank you for leaving a message.</div>

					<form name="nice_contact" id="nice_contact" method="post" >
					<p>
						<label for="name" form="nice_contact">Your Name<span class="required">*</span></label>
						<input type="text" id="name" name="name" value="" class="required" />
					</p>
					<p>
						<label for="subject" form="nice_contact">Subject</label>
						<input type="text" name="subject" id="subject" value="" />
					</p>
					<p>
						<label for="mail" form="nice_contact">Your E-Mail<span class="required">*</span></label>
						<input type="text" name="mail" id="mail" value="" class="required email" />
					</p>
					<p>
						<label for="message" form="nice_contact">Your Message<span class="required">*</span></label><br />
						<textarea name="message" id="message" class="required"></textarea>
					</p>
					<p>
					<input type="submit" value="Submit" />
					</p>
					</form>
				</div>



		<!-- END #content -->
		</section>

	<!-- END #container -->
	</div>

	<!-- BEGIN #footer -->
	<footer id="footer">


				<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41884879-1', 'auto');
  ga('send', 'pageview');

</script>
			<a href="#" class="backtotop">
				<span>Top</span>
			</a>
		<div id="custom_footer"></div><script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/comment-reply.min.js?ver=3.9.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/masonry.min.js?ver=3.1.2'></script>
<script type='text/javascript' src='http://lodojimmys.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2'></script>
		<!-- BEGIN #footer-widget -->
		<div id="footer-widgets" class="col-full">

			<div class="widget-section odd">
				<div class="box widget widget_text">			<div class="textwidget"><a href="https://www.seatme.yelp.com/restaurants/81aef9dc-7c4f-439b-9098-ad5d30b5dc92/"target="_blank"><img
alt="Reserve Now" title="Jimmy's Urban Bar & Grill Reservations"
src="https://static.seatme.yelp.com/img/badges/black-158x34.png"></a>
</div>
		</div>		<div class="box widget widget_nice_social">
				<div class="social-links clearfix">

					<ul id="social">
						<li id="facebook"><a href="https://www.facebook.com/JimmysUrbanBarandGrill"></a></li><li id="twitter"><a href="http://www.Twitter.com/@lodojimmys"></a></li><li id="yelp"><a href="http://www.yelp.com/biz/jimmys-urban-bar-and-grill-denver"></a></li><li id="urbanspoon"><a href="http://www.urbanspoon.com/r/17/1748175/restaurant/LoDo/Jimmys-Urban-Bar-Grill-Denver"></a></li>					</ul>

				</div>
						</div>

				</div>
			<div class="widget-section even">
				<div class="box widget widget_nice_opening_hours"><div class="day clearfix"><span class="name">Monday</span><span class="hours">11:00 AM &mdash; 10:00 PM<br /></span></div><div class="day clearfix"><span class="name">Tuesday</span><span class="hours">11:00 AM &mdash; 12:00 AM<br /></span></div><div class="day clearfix"><span class="name">Wednesday</span><span class="hours">11:00 AM &mdash; 10:00 PM<br /></span></div><div class="day clearfix"><span class="name">Thursday</span><span class="hours">11:00 AM &mdash; 12:00 AM<br /></span></div><div class="day clearfix"><span class="name">Friday</span><span class="hours">10:00 AM &mdash; 01:00 AM<br /></span></div><div class="day clearfix"><span class="name">Saturday</span><span class="hours">10:00 AM &mdash; 01:00 AM<br /></span></div><div class="day clearfix"><span class="name">Sunday</span><span class="hours">10:00 AM &mdash; 09:00 PM<br /></span></div></div>			</div>
			<div class="widget-section odd last">
				<div class="box widget widget_nice_feedback"><div class="feedback fade">
<div class="feedback-list">
<div id="quote-46" class="quote">
<blockquote class="feedback-text no-img">I thought it was going to be standard but it's was great. I would eat here again.
Mac and cheese is great and the burgers are solid!</blockquote>
<cite class="feedback-author">Gary M.</cite>
</div>
<div id="quote-47" class="quote">
<blockquote class="feedback-text no-img">I love this place...Best food, drinks, atmosphere, and people!!</blockquote>
<cite class="feedback-author">Miranda</cite>
</div>
<div id="quote-59" class="quote">
<blockquote class="feedback-text no-img">Barnyard Mac and cheese with crust chicken is very good! Attentive service, friendly place</blockquote>
<cite class="feedback-author">Darryl</cite>
</div>
<div id="quote-60" class="quote">
<blockquote class="feedback-text no-img">Stopped by for lunch( twice ). Menu was excellent and priced well. I had the BBQ  brisket and pork sandwich. Also tried the green chili with pork. Wait staff cordial and knowledgable. Try the ghost fries. I'd go again.</blockquote>
<cite class="feedback-author">Gil E.</cite>
</div>
</div>
</div>
</div>			</div>
			<div class="fix"></div>

		<!-- END #footer -->
		</div>


		<div id="extended-footer">
			<div class="col-full">

				<p>Copyright Jimmys Urban Bar and Grill 2014 (Design by Justin Murphy)</p>
				<nav id="footer-navigation">
					<div class="menu-main-navigation-container"><ul id="footer-nav" class="nav fl sf-js-enabled clearfix"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="http://lodojimmys.com/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://lodojimmys.com/about-us/">About Us</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://lodojimmys.com/menu/">Menu</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40"><a href="http://lodojimmys.com/location/">Location</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-14 current_page_item menu-item-25"><a href="http://lodojimmys.com/contact-us/">Contact Us</a></li>
</ul></div>				</nav>
			</div>
		</div>

	<!-- END #footer -->
	</footer>

<!-- END #wrapper -->
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41884879-1', 'auto');
  ga('send', 'pageview');

</script>
			<a href="#" class="backtotop">
				<span>Top</span>
			</a>
		<div id="custom_footer"></div></body>
</html>
