<!-- BEGIN #container -->
<div id="container" class="clearfix">
  <nav class="responsive-nav"></nav>
  <!-- BEGIN #content -->
  <section id="content" class="full-width contact-us">
    <aside class="nice-contact-sidebar">
      <div class="box">
        <header>
          <h3>Address</h3>
        </header>
       1530 Blake St Unit B<br />
       Denver, CO 80202 <br />
      <p>Phone: (303) 298-5000</p>
      </div>
    </aside>
    <div class="nice-contact-form">
    <header>
      <h3>Contact Us</h3>
    </header>
    <div class="entry"></div>
    <div id="node"></div>
    <div id="success">Thank you for leaving a message.</div>
      <form name="nice_contact" id="nice_contact" method="post" >
        <p>
          <label for="name" form="nice_contact">Your Name<span class="required">*</span></label>
          <input type="text" id="name" name="name" value="" class="required" />
        </p>
        <p>
          <label for="subject" form="nice_contact">Subject</label>
          <input type="text" name="subject" id="subject" value="" />
        </p>
        <p>
          <label for="mail" form="nice_contact">Your E-Mail<span class="required">*</span></label>
          <input type="text" name="mail" id="mail" value="" class="required email" />
        </p>
        <p>
          <label for="message" form="nice_contact">Your Message<span class="required">*</span></label><br />
          <textarea name="message" id="message" class="required"></textarea>
        </p>
        <p>
          <input type="submit" value="Submit" />
        </p>
      </form>
    </div>
  <!-- END #content -->
  </section>
  <!-- END #container -->
  </div>
