<section id="content" class="create-user">
  <form id="create-user" action="/create-user" method="post">
    <input type="text" name="user_name" value="" placeholder="enter user name">
    <input type="password" name="password1" value="" placeholder="enter password">
    <input type="password" name="password2" value="" placeholder="re-enter password">
    <input type="submit" value="Submit">
  </form>
</section>
