<section id="content" class="edit-menu" style="text-align: center; width: 100% !important;padding-top: 78px;padding-bottom: 112px;">
          <h1>Edit Menu Item</h1>

  <form id="update-section" action="/admin-menu/items/<%= menu_item[:id] %>/edit" method="post">
    <input type="hidden" name="_method" value="PATCH">
     <input type="text" name="menu[item_name]" placeholder="name" value="<%= menu_item[:name] %>">
      <input type="text" name="menu[item_description]" placeholder="description" value="<%= menu_item[:description] %>">
      <input type="text" name="menu[item_price]" placeholder="Price" value="<%= menu_item[:price] %>">
    <input type="submit" value="Save">
  </form>
</section>