<!-- BEGIN #container -->
<div id="container" class="clearfix">
  <nav class="responsive-nav"></nav>
   <!-- BEGIN .flexslider -->
    <div class="flexslider slider">
    <ul class="slides">
      <li>
        <img src="http://lodojimmys.com/wp-content/uploads/2014/08/home-gallery_large_1.jpg" class="nice-image"  title="" alt=""  />
      </li>
      <li>
        <img src="http://lodojimmys.com/wp-content/uploads/2014/08/home-gallery_large_2.jpg" class="nice-image"  title="home-gallery_large_2" alt=""  />
      </li>
    </ul>
  <!-- END .flexslider -->
  </div>
    <section id="infobox" class="infobox home-block clearfix">
      <ul class="three-col-grid grid clearfix">
      </ul>
      <!-- END #infobox -->
    </section>
  <!-- END #container -->
</div>
