<!DOCTYPE html>
<html>
  <head>
    <title>Jimmy's Urban Bar and Grill</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/about-us">About</a>
      <a href="/location">Location</a>
      <a href="/contact-us">Contact us</a>
      <a href="/menu">Menu</a>
    </nav>
    <%= yield %>
  </body>
</html>
