<section id="content" class="log-in" style="text-align: center; width: 100% !important;">
  <aside class="login-wrapper">
    <form id="login" action="/login" method="post">
      <input type="text" name="user_name" value="" placeholder="User Name">
      <input type="password" name="user_password" value="" placeholder="password">
      <input type="submit" value="Login">
    </form>
  </aside>
</section>
