<!-- BEGIN #container -->
<div id="container" class="clearfix">
  <nav class="responsive-nav"></nav>
  <!-- BEGIN #content -->
   <%= erb :menu_sidebar %>

  <section id="content" class="menu">
    <div class="entry">  </div>

   <%= erb :menu_items %>

  </section>



<!-- END #container -->
</div>
