<aside id="sidebar">
  <ul>
    <% @sections.each do |section| %>
      <li class="category-item">
        <a href="#category-item-2"><%= section[:name] %></a>
      </li>
    <% end %>

  </ul>
</aside>
