<aside id="sidebar">
  <ul>
    <% @sections.each do |section| %>
      <li class="category-item"><a href="#category-item-3"><%= section[:name] %></a>
    <% end %>
      <!-- <li class="category-item"><a href="#category-item-3">Shared Bites</a>
      <li class="category-item"><a href="#category-item-4">Salads</a>
      <li class="category-item"><a href="#category-item-5">Blake Street Bowls</a>
      <li class="category-item"><a href="#category-item-6">Vegetarian</a>
      <li class="category-item"><a href="#category-item-7">Specialty Sandwiches</a>
      <li class="category-item"><a href="#category-item-8">Dinner Entrees</a>
      <li class="category-item"><a href="#category-item-9">Smokehouse</a>
      <li class="category-item"><a href="#category-item-10">Jimmy's Burger Creations</a> -->
  </ul>
</aside>
