<!-- BEGIN #container -->
<div id="container" class="clearfix">
  <nav class="responsive-nav"></nav>
  <!-- BEGIN #content -->
  <section id="content" class="menu">
  <div class="entry">
  </div>




 <%= erb :menu_items %>
 <%= erb :menu_sidebar %>

 <!-- <div class="menu-card">
    <div class="menu-box">
      <h2 class="menu-category"><a name="category-item-3">Shared Bites</a></h2>
    <p></p>
    <ul>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/greek-nachos/" title="Permanent Link to Greek Nachos">Greek Nachos</a></span>
          <span class="price">$8</span>
        </div>
        <div class="description clearfix">House made pita chips, hummus, gyro meat drizzled with red pepper aioli and raita sauce.</div>
      </li>
      <li>
        <div class="title clearfix"><span><a href="http://lodojimmys.com/menu/hot-wings/" title="Permanent Link to Hot Wings">Hot Wings</a></span>
          <span class="price">$8</span>
        </div>
        <div class="description clearfix">Choose one of our &#8220;Award Winning&#8221; sauces: BBQ, Original, Chipotle, Sriracha, Spicy BBQ or Melagueta.</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/twice-cooked-pork-belly/" title="Permanent Link to Twice Cooked Pork Belly">Twice Cooked Pork Belly</a></span>
          <span class="price">$9</span>
        </div>
        <div class="description clearfix">House
        braised Crispy Pork Belly topped with a raspberry compote.
</div></li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/acropolis-roll/" title="Permanent Link to Acropolis Roll">Acropolis Roll</a></span>
          <span class="price">$8</span>
        </div>
        <div class="description clearfix">Gyro m
        eat, goat cheese, fresh cabbage, cucumber and raita sauce.
</div></li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/artichoke-spinach-dip/" title="Permanent Link to Artichoke and Spinach Dip">Artichoke and Spinach Dip</a></span>
          <span class="price">$9</span>
        </div>
        <div class="description clearfix">Artich
        oke hearts, fresh spinach with Asiago cheese served with pita chips and veggies.
</div></li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/urban-smothered-fries/" title="Permanent Link to Urban Smothered Fries">Urban Smothered Fries</a></span>
          <span class="price">$8</span>
        </div>
        <div class="description clearfix">House
        cut fries smothered with your choice of bison red or pork green chili topped with cheese.
</div></li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/house-cut-beer-battered-fries-sweet-potato-puffs/" title="Permanent Link to House Cut Beer Battered Fries or Sweet Potato Puffs">House Cut Beer Battered Fries or Sweet Potato Puffs</a></span>
          <span class="price">$3.50</span>
        </div>
        <div class="description clearfix"></div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/house-cut-beer-battered-ghost-fries-ghost-sweet-potato-puffs/" title="Permanent Link to House Cut Beer Battered Ghost Fries or Ghost Sweet Potato Puffs">House Cut Beer Battered Ghost Fries or Ghost Sweet Potato Puffs</a></span>
          <span class="price">$4.50</span>
        </div>
        <div class="description clearfix"></div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/house-cut-beer-battered-truffle-fries-truffle-sweet-potato-puffs/" title="Permanent Link to House Cut Beer Battered Truffle Fries or Truffle Sweet Potato Puffs">House Cut Beer Battered Truffle Fries or Truffle Sweet Potato Puffs</a></span>
          <span class="price">$5.50</span>
        </div>
        <div class="description clearfix"></div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/house-cut-beer-battered-truffle-ghost-fries-truffle-ghost-sweet-potato-puffs/" title="Permanent Link to House Cut Beer Battered Truffle Ghost Fries or Truffle Ghost Sweet Potato Puffs">House Cut Beer Battered Truffle Ghost Fries or Truffle Ghost Sweet Potato Puffs</a></span>
          <span class="price">$5.50</span>
        </div>
        <div class="description clearfix"></div>
      </li>
    </ul>
</div>
<div class="menu-box">
  <h2 class="menu-category"><a name="category-item-4">Salads</a></h2>
  <p>Add Grilled Chicken +$4 / Grilled Mahi Mahi +$5 / Grilled Bison Tenderloin +$7</p>
  <ul>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/heirloom/" title="Permanent Link to Heirloom">Heirloom</a></span>
        <span class="price">$10</span>
      </div>
      <div class="description clearfix">Heirloom tomatoes, basil, mozzarella, Arcadian greens, balsamic reduction.</div>
    </li>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/summer/" title="Permanent Link to Summer">Summer</a></span>
        <span class="price">$10</span>
      </div>
      <div class="description clearfix">Arcadian greens, candied pecans, cranberries, goat cheese, tomatoes, croutons, balsamic vinaigrette.</div>
    </li>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/grecian/" title="Permanent Link to Grecian">Grecian</a></span>
        <span class="price">$13</span>
      </div>
      <div class="description clearfix">Gyro meat, Arcadian greens, goat cheese, green olives, red onions, cucumber, raita sauce, flatbread.</div>
    </li>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/tandoori/" title="Permanent Link to Tandoori">Tandoori</a></span>
        <span class="price">$13</span>
      </div>
      <div class="description clearfix">Tandoori Chicken, Baby Spinach, red onion, goat cheese, cucumber, raita sauce and flatbread.</div>
      </li>
    </ul>
  </div>
  <div class="menu-box">
    <h2 class="menu-category">
      <a name="category-item-5">Blake Street Bowls</a>
    </h2>
    <p></p>
    <ul>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/jimmys-jambalaya/" title="Permanent Link to Jimmys Jambalaya">Jimmys Jambalaya</a></span>
          <span class="price">$12</span>
        </div>
        <div class="description clearfix">Old family recipe with Crawfish, Chicken, Andouille Sausage, Basmati rice and flatbread.</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/caribbean-crispy-chicken/" title="Permanent Link to Caribbean Crispy Chicken">Caribbean Crispy Chicken</a></span>
          <span class="price">$14</span>
        </div>
        <div class="description clearfix">Basil Tangerine pasta, crispy chicken, melegueta creme, hot honey sauce.</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/barnyard-mac-cheese/" title="Permanent Link to Barnyard Mac and Cheese">Barnyard Mac and Cheese</a></span>
          <span class="price">$11</span>
        </div>
        <div class="description clearfix">Pasta, Four Cheese Mornay with choice of Red Bison or Pork Green Chili topped with Bacon. **Top with Grilled Chicken +$4 / Grilled Mahi Mahi +$5 / Grilled Bison Tenderloin +$7**</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/gluten-free-barnyard-mac-cheese/" title="Permanent Link to Gluten Free Barnyard Mac and Cheese">Gluten Free Barnyard Mac and Cheese</a></span>
          <span class="price">$13</span>
        </div>
        <div class="description clearfix">Gluten free pasta, Four Cheese Mornay, choice of Red Bison or Pork Green Chili and Bacon. **Top with Grilled Chicken +$4 / Grilled Mahi Mahi +$5 / Grilled Bison Tenderloin +$7**</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/smokehouse-mac-cheese/" title="Permanent Link to Smokehouse Mac and Cheese">Smokehouse Mac and Cheese</a></span>
          <span class="price">$13</span>
        </div>
        <div class="description clearfix">Pasta, slow smoked pork, four Cheese Mornay, BBQ Sauce and red onions. **Top with Grilled Chicken +$4 / Grilled Mahi Mahi +$5 / Grilled Bison Tenderloin +$7**</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/slow-smoked-pork-green-chili/" title="Permanent Link to Slow Smoked Pork Green Chili">Slow Smoked Pork Green Chili</a></span>
          <span class="price">$4.50 Cup / $7 Bowl</span>
        </div>
        <div class="description clearfix">Chef prepared topped with smoked pork and cheddar.</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/kickass-bison-tenderloin-chili/" title="Permanent Link to Kickass Bison Tenderloin Chili">Kickass Bison Tenderloin Chili</a></span>
          <span class="price">$5 Cup / $8 Bowl</span>
        </div>
        <div class="description clearfix">Chef prepared topped with cheddar.</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/soup-day/" title="Permanent Link to Soup of the Day">Soup of the Day</a></span>
          <span class="price">$4.50 Cup / $7 Bowl</span>
        </div>
        <div class="description clearfix">Chef prepared soup.</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/soup-combo/" title="Permanent Link to The Soup Combo">The Soup Combo</a></span>
          <span class="price">$9</span>
        </div>
        <div class="description clearfix">BLT flatbread and a cup of soup or chili.</div>
      </li>
    </ul>
  </div>
  <div class="menu-box">
    <h2 class="menu-category"><a name="category-item-6">Vegetarian</a></h2>
    <p>Choice of Fries or Smoky Slaw</p>
    <ul>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/cuban-black-bean-burger/" title="Permanent Link to Cuban Black Bean Burger">Cuban Black Bean Burger</a></span>
          <span class="price">$10</span>
        </div>
        <div class="description clearfix">Black beans, pepper jack, arcadian greens, tomato, red onions and red pepper aioli.</div>
      </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/killer-heirloom-grilled-cheese/" title="Permanent Link to Killer Heirloom Grilled Cheese">Killer Heirloom Grilled Cheese</a></span>
          <span class="price">$10</span>
        </div>
        <div class="description clearfix">Heirloom tomatoes, fresh mozzarella, goat cheese, basil, balsamic reduction.</div>
      </li>
    </ul>
  </div>
  <div class="menu-box">
  <h2 class="menu-category"><a name="category-item-7">Specialty Sandwiches</a></h2>
  <p>Choice of Fries or Smoky Slaw</p>
  <ul>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/big-jimmys-beef/" title="Permanent Link to Big Jimmy&#8217;s Beef">Big Jimmy&#8217;s Beef</a></span>
        <span class="price">$11</span>
      </div>
      <div class="description clearfix">Slow roasted Italian beef stuffed in a roll, your choice of sweet peppers and onions or hot giardinera peppers.</div>
      </li>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/acropolis-naan/" title="Permanent Link to Acropolis Naan">Acropolis Naan</a></span>
        <span class="price">$9.50</span>
      </div>
      <div class="description clearfix">Thick Gyro meat, tomato, red onion, goat cheese, raita sauce served in a flatbread.</div>
      </li>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/african-chicken/" title="Permanent Link to African Chicken">African Chicken</a></span>
        <span class="price">$10.50</span>
      </div>
      <div class="description clearfix">Spicy crispy chicken, lettuce, tomato, red onion, hot honey sauce, meleguate creme on a brioche roll.</div>
      </li>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/tandoori-chicken/" title="Permanent Link to Tandoori Chicken">Tandoori Chicken</a></span>
        <span class="price">$11</span>
      </div>
      <div class="description clearfix">Grilled Tandoori chicken, spinach, goat cheese, red onion, tomato, cucumber, raita sauce on flatbread.</div>
      </li>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/pesto-chicken/" title="Permanent Link to Pesto Chicken">Pesto Chicken</a></span>
        <span class="price">$11</span>
      </div>
      <div class="description clearfix">Marinated grilled chicken, house cured bacon, lettuce, tomato, red onion, pesto on a brioche roll.</div>
      </li>
    <li>
      <div class="title clearfix">
        <span><a href="http://lodojimmys.com/menu/mahi-mahi-poboy/" title="Permanent Link to Mahi Mahi Po&#8217;Boy">Mahi Mahi Po&#8217;Boy</a></span>
        <span class="price">$12.50</span>
      </div>
      <div class="description clearfix">Blackened Mahi Mahi, smoky slaw, tomato, red onion, red pepper aioli on a brioche roll.</div>
      </li>
    </ul>
  </div>
  <div class="menu-box">
    <h2 class="menu-category"><a name="category-item-8">Dinner Entrees</a></h2>
    <p>Served from 5:00pm to 10:00pm everyday</p>
    <ul>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/mahi-mahi-fried-rice/" title="Permanent Link to Mahi Mahi Fried Rice">Mahi Mahi Fried Rice</a></span>
          <span class="price">$16</span>
        </div>
        <div class="description clearfix">Sesame ginger glazed Mahi Mahi over fried rice topped with crispy spinach.</div>
        </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/bourbon-bison-medallions/" title="Permanent Link to Bourbon Bison Medallions">Bourbon Bison Medallions</a></span>
          <span class="price">$18</span>
        </div>
        <div class="description clearfix">Garlic herb Bison medallions, bourbon blueberry sauce, goat cheese, field greens, truffled fries.</div>
        </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/blake-street-bison/" title="Permanent Link to Blake Street Bison">Blake Street Bison</a></span>
          <span class="price">$18</span>
        </div>
        <div class="description clearfix">Sliced Bison Tenderloin, pasta, heirlooms, spinach, brussel sprouts, Italian cheeses, balsamic reduction.</div>
        </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/african-chicken-waffles/" title="Permanent Link to African Chicken and Waffles">African Chicken and Waffles</a></span>
          <span class="price">$15</span>
        </div>
        <div class="description clearfix">Fried African spiced chicken breast, pork belly waffle, Crown Royal syrup, creamed spinach.</div>
        </li>
      <li>
        <div class="title clearfix">
          <span><a href="http://lodojimmys.com/menu/tandoori-chicken-2/" title="Permanent Link to Tandoori Chicken">Tandoori Chicken</a></span>
          <span class="price">$15</span>
        </div>
        <div class="description clearfix">Tandoori grilled chicken, basmati rice, spinach salad, raita sauce, flatbread.</div>
        </li>
      </ul>
    </div>
    <div class="menu-box">
      <h2 class="menu-category"><a name="category-item-9">Smokehouse</a></h2>
      <p>Choice of Fries or Smoky Slaw on Sandwiches only</p>
      <ul>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/sexy-smoked-sow/" title="Permanent Link to Sexy Smoked Sow">Sexy Smoked Sow</a></span>
            <span class="price">$10.50</span>
          </div>
          <div class="description clearfix">Slow smoked pork, drunken onions, pickles, smoky slaw, tangy bbq sauce on a brioche roll.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/killer-brisket/" title="Permanent Link to Killer Brisket">Killer Brisket</a></span>
            <span class="price">$10.50</span>
          </div>
          <div class="description clearfix">Slow smoked beef brisket, drunken onions, pickles, smoky slaw, tangy bbq sauce on a brioche roll.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/fatal-attraction/" title="Permanent Link to Fatal Attraction">Fatal Attraction</a></span>
            <span class="price">$11.50</span>
          </div>
          <div class="description clearfix">Slow smoked brisket and pork, drunken onions, pickles, smoky slaw, tangy bbq on a brioche roll.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/smokehouse-baby-back-ribs/" title="Permanent Link to Smokehouse Baby Back Ribs">Smokehouse Baby Back Ribs</a></span>
            <span class="price">$15</span>
          </div>
          <div class="description clearfix">Slow smoked Baby Back Ribs with a tangy bbq sauce, smoky slaw and fries.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/ultimate-bbq-platter/" title="Permanent Link to Ultimate BBQ Platter">Ultimate BBQ Platter</a></span>
            <span class="price">$22</span>
          </div>
          <div class="description clearfix">Baby Back Ribs, smoked pork, smoked beef brisket, tangy bbq sauce, smoky slaw, fries.</div>
        </li>
      </ul>
    </div>
    <div class="menu-box">
      <h2 class="menu-category"><a name="category-item-10">Jimmy's Burger Creations</a></h2>
      <p>Choice of Fries or Smoky Slaw  **Add Bacon +$2 / Substitute Bison +$4 / Make it a Double burger +$4 / Double Bison +$6**</p>
      <ul>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/urban-cheese-burger/" title="Permanent Link to Urban Cheese Burger">Urban Cheese Burger</a></span>
            <span class="price">$9.50</span>
          </div>
          <div class="description clearfix">Choice of American, Cheddar, or Pepperjack, drunken onions, lettuce, tomato and urban sauce.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/smokehouse-burger/" title="Permanent Link to Smokehouse Burger">Smokehouse Burger</a></span>
            <span class="price">$12</span>
          </div>
          <div class="description clearfix">Topped with brisket or pork, cheddar, drunken onions, pickles, smoky slaw, tangy bbq sauce.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/black-blue-burger/" title="Permanent Link to Black and Blue Burger">Black and Blue Burger</a></span>
            <span class="price">$12</span>
          </div>
          <div class="description clearfix">Blackened Burger, bacon, garlic blue cheese, drunken onions, lettuce, tomato.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/hangover-cure-burger/" title="Permanent Link to Hangover Cure Burger">Hangover Cure Burger</a></span>
            <span class="price">$12</span>
          </div>
          <div class="description clearfix">Topped with a fried egg, bacon, cheddar cheese, crown maple peanut butter.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/ditka-burger/" title="Permanent Link to Ditka Burger">Ditka Burger</a></span>
            <span class="price">$12</span>
          </div>
          <div class="description clearfix">Topped with Italian beef, Italian cheese, choice of sweet peppers and onions or hot giardinera peppers.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/acropolis-burger/" title="Permanent Link to Acropolis Burger">Acropolis Burger</a></span>
            <span class="price">$12</span>
          </div>
          <div class="description clearfix">Topped with Gyros meat, goat cheese, red onion, lettuce, tomato, raita sauce.</div>
        </li>
        <li>
          <div class="title clearfix">
            <span><a href="http://lodojimmys.com/menu/bison-burger/" title="Permanent Link to Bison Burger">Bison Burger</a></span>
            <span class="price">$13</span>
          </div>
          <div class="description clearfix">Bison topped with goat cheese, drunken onions, lettuce, tomato, blueberry bourbon compote.</div>
        </li>
      </ul>
    </div>
  </div> -->
  <!-- END #content -->
  </section>



<!-- END #container -->
</div>
